/* *{
  margin: 0;
  padding: 0;
  box-sizing: border-box;
   font-family: "Helvetica Neue", Helvetica, Arial, sans-serif;
}
html,
body{
  height: 100%;
  width: 100%;
} */

@import "tailwindcss";
#bottom{
  background: linear-gradient(transparent, black) 
}

*{
  /* font-family: 'helvetica neue'; */
}

:root{
  --c1: rgb(12, 43, 78);
  --c2: rgb(26, 61, 100);
  --c3: rgb(29, 84, 108);
  --c4: rgb(244, 244, 244);

}